<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-bar">
    <img src="{{ asset('img/logo.png') }}" class="img-fluid" alt="" title="" id="logo-qiwo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-list">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %} active{% endif %}" href="{{ path('home') }}" alt="Accueil" title="Accueil">
                    <i class="fas fa-home fa-3x"></i>
                    <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %} active{% endif %}" href="{{ path('property.index') }}" alt="All sells" title="Tous nos bien">
                    <i class="fas fa-shopping-bag fa-3x"></i>
                    <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">

                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ path('security_registration') }}" title="Inscription">
                        <i class="fas fa-registered fa-3x"></i>
                    </a>
                </li>
            {% endif %}


            {%  if app.user %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ path('security_logout') }}" title="Deconnexion">
                        <i class="fas fa-eye fa-3x"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ path('security_login') }}" title="Connexion">
                        <i class="fas fa-eye-slash fa-3x"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


